@page "/organization_password_reset"
@using AuthHub.SDK
@using Microsoft.AspNetCore.Components
@using AuthHub.Models.Requests

@inject ITokenConnector _connector

<h3>Organization Password Reset</h3>


<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        Username
        <InputText @bind-Value="model.UserName" DisplayName="UserName"></InputText>
    </label>
    <br />
    <label>
        Email
        <InputText @bind-Value="model.Email" DisplayName="Email"></InputText>
    </label>
    <br />
    <button type="submit">Request Password Reset</button>
</EditForm>

@code {
    private RequestSetPasswordRequest model = new RequestSetPasswordRequest()
        {
            UserName = "mrlst16@mail.rmu.edu",
            Email = "mrlst16@mail.rmu.edu"
        };

    private async Task HandleValidSubmit()
    {
        await _connector.RequestPasswordReset(model);
    }
}
