@page "/organization_signup"
@using AuthHub.WebUI.Connectors
@using AuthHub.Models.Organizations
@inject IOrganizationConnector _connector

<h3>Organization SignUp</h3>

<div>
    <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label>
            Name:
            <InputText @bind-Value="model.Name" DisplayName="Name"></InputText>
        </label>
        <br />
        <label>
            Email:
            <InputText @bind-Value="model.Email" DisplayName="Email"></InputText>
        </label>
        <br />
        <label>
            Password:
            <InputText @bind-Value="model.Password" DisplayName="Passsword"></InputText>
        </label>
        <br />
        <label>
            ConfirmPassword:
            <InputText @bind-Value="model.ConfirmPassword" DisplayName="ConfirmPassword"></InputText>
        </label>
        <br />
        <button type="submit">Sign Up!</button>
    </EditForm>
</div>

@code {
    CreateOrganizationRequest model = new CreateOrganizationRequest();

    private async Task HandleValidSubmit()
        => await _connector.CreateOrganization(model);
}
