@page "/organization_home"
@page "/organization_home/{Id}"
@using AuthHub.Models.Organizations
@using AuthHub.WebUI.Components
@using AuthHub.WebUI.Connectors
@inject IOrganizationConnector _connector
@inject NavigationManager _navigationManager;


<h1>@model.Name</h1>

<h3>Auth Settings</h3>
<ul>
    @foreach (var settings in model?.Settings)
    {
        <li>
            <div>
                <AuthSettingsDisplay Model="@settings"></AuthSettingsDisplay>
            </div>
        </li>
    }
</ul>

<button @onclick="@OnAddAuthSchemeClick">Add Auth Settings</button>


@code {

    private Organization model = new Organization();

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (model.ID == Guid.Empty && string.IsNullOrWhiteSpace(Id))
        {
            model = await _connector.GetOrganization(Id);
        }
        else
        {
            model = await _connector.GetOrganization();
        }
        if (model == null)
            _navigationManager.NavigateTo("/organization_sign_in");
    }

    public void OnAddAuthSchemeClick()
    {
        _navigationManager.NavigateTo($"/add_auth_settings/{model.ID}/{model.Name}");
    }
}