@page "/organization_home"
@using AuthHub.Models.Organizations
@using AuthHub.WebUI.Components
@using AuthHub.WebUI.Connectors
@inject IOrganizationConnector _connector

<h1>@model.Name</h1>

<h3>Auth Settings</h3>
<ul>
    @foreach (var settings in model?.Settings)
    {
        <li>
            <a href="/organizationSettings?name=@settings.Name">@settings.Name</a>
            <span>@settings.AuthScheme.ToString()</span>
            <div>
                <AuthSettingsDisplay model="@settings" ></AuthSettingsDisplay>
            </div>
        </li>
    }
</ul>

<button>Add Auth Settings</button>

@code {

    private Organization model = new Organization();

    protected override async Task OnInitializedAsync()
    {
        model = await _connector.GetOrganization();
    }

    private void OnAddAuthSchemeClick()
    {

    }
}