@page "/organization_home"
@using AuthHub.Models.Organizations
@using AuthHub.WebUI.Components
@using AuthHub.WebUI.Connectors
@inject IOrganizationConnector _connector
@inject NavigationManager _navigationManager;


<h1>@model.Name</h1>

<h3>Auth Settings</h3>
<ul>
    @foreach (var settings in model?.Settings)
    {
        <li>
            <div>
                <AuthSettingsDisplay model="@settings"></AuthSettingsDisplay>
            </div>
        </li>
    }
</ul>

<button @onclick="@OnAddAuthSchemeClick">Add Auth Settings</button>


@code {

    private Organization model = new Organization();

    protected override async Task OnInitializedAsync()
    {
        model = await _connector.GetOrganization();
        if (model == null) _navigationManager.NavigateTo("/organization_sign_in");
    }

    public void OnAddAuthSchemeClick()
    {
        _navigationManager.NavigateTo($"/add_auth_settings/{model.ID}/{model.Name}");
    }
}