@page "/organization_home"
@page "/organization_home/{Id}"

@using AuthHub.Models.Organizations
@using AuthHub.WebUI.Components
@using AuthHub.WebUI.Connectors
@using AuthHub.SDK

@inject IOrganizationConnector _connector
@inject NavigationManager _navigationManager;


<h1>@model.Name</h1>

<h3>Auth Settings</h3>
<ul>
    @foreach (var settings in model?.Settings)
    {
        <li>
            <div>
                <AuthSettingsDisplay Model="@settings"></AuthSettingsDisplay>
            </div>
        </li>
    }
</ul>

<button @onclick="@OnAddAuthSchemeClick">Add Auth Settings</button>


@code {

    private Organization model = new Organization();

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = (model.ID == Guid.Empty && !string.IsNullOrWhiteSpace(Id))
            ? model = await _connector.GetOrganization(Id)
                : model = await _connector.GetOrganization();
    }

    public void OnAddAuthSchemeClick()
    {
        _navigationManager.NavigateTo($"/add_auth_settings/{model.ID}/{model.Name}");
    }
}