@page "/set_password"

@using AuthHub.Models.Requests
@using AuthHub.SDK
@using Microsoft.AspNetCore.Components

@inject ITokenConnector _connector;

<h3>ResetPassword</h3>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        New Password
        <InputText @bind-Value="@model.NewPassword" DisplayName="New Password"></InputText>
    </label>
    <button type="submit">Set Password</button>
</EditForm>
@code {
    [Parameter]
    [SupplyParameterFromQuery(Name ="userid")]
    public string userid { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name ="token")]
    public string token { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name ="email")]
    public string email { get; set; }

    public SetPasswordRequest model { get; set; } = new SetPasswordRequest();

    protected async override Task OnInitializedAsync()
    {
    }

    private async Task HandleValidSubmit()
    {
        model.UserId = Guid.TryParse(userid, out Guid res) ? res : Guid.Empty;
        model.Token = token;
        model.Email = email;
        await _connector.SetPassword(model);
    }
}
