# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# more
*.ide*
*.ide
*.suo
*.cache
*.pdb
*.lock

#folders
Packages/*
packages/*
*/obj/*
.vs/*
*/bin/*
*/debug/*
*/.sonarqube/*
/AuthHub.Database.SqlServer/AuthHub.Database.SqlServer.dbmdl
/AuthHub.Database.SqlServer/AuthHub.Database.SqlServer.refactorlog
/AuthHub.Database.SqlServer/AuthHub.Database.SqlServer.jfm
/aws_credentials.csv

*/appsettings.json
*/appsettings.*.json
/githubnuget.ps1
/nuget.config
.volumes
volumes
*.pem