@page "/error/{Message}/{StackTrace}"

<h3>Error Page</h3>
<p>
    It's not you, it's us.
</p>
<p>
    Looks like something went wrong
</p>
<p>
    <h3>Message</h3>
    @Message
</p>
<p>
    <h3>Stack Trace</h3>
    @StackTrace
</p>
<p>
    Contact us at mrlst16@mail.rmu.edu
</p>
@code {

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string StackTrace { get; set; }
}