@page "/edit_user"
@page "/edit_user/{AuthSettingsId}"

@using AuthHub.Models.Users
@using AuthHub.WebUI.Connectors


<h3>EditUserComponent</h3>


<div>
    <EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>
            First Name:
            <InputText @bind-Value="Model.UserName"></InputText>
        </label>
        <label>
            Last Name:
            <InputText @bind-Value="Model.FirstName"></InputText>
        </label>
        <label>
            UserName:
            <InputText @bind-Value="Model.LastName"></InputText>
        </label>
        <div>
            <h3>Claims</h3>
            <ul>
                @foreach (var claim in Model.Password.Claims)
                {
                    <li>
                        <span>@claim.Key</span>
                        <button>Remove</button>
                    </li>
                }
            </ul>
        </div>
        <button type="submit">Save</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public User Model { get; set; } = new();

    [Parameter]
    public string AuthSettingsId { get; set; }

    protected async override Task OnInitializedAsync()
    {

    }

    protected void HandleValidSubmit()
    {

    }
}
