<div class="authhub-login-component">
    <div *ngIf="loggedIn">
        <a (click)="logout()">Log out</a>
        <ng-content></ng-content>
    </div>
    <div *ngIf="!loggedIn">
        
        <button class="authhub-login-button" *ngIf="!showForm" (click)="showForm=true">Login</button>

        <div class="authhub-login-form-container" *ngIf="showForm">
            <form [formGroup]="form" (ngSubmit)="login()">
                <label for="username">Username</label>
                <input id="username" type="text" formControlName="Username"/>
                <br />

                <label for="password">Password</label>
                <input id="password" type="password" formControlName="Password"/>
                <br />

                <button type="submit" [disabled]="!form.valid">Log In</button>
                <button type="button" (click)="showForm=false">Cancel</button>
                <div>
                    <ul>
                        <li>
                            <a (click)="requestPasswordReset()">Reset Password</a>
                        </li>
                    </ul>
                </div>
            </form>

            <div *ngIf="message != null" class="authhub_login_message">
                {{message}}
            </div>
        </div>
    </div>

</div>